<form>
  <div class="mb-3">
    <label>First Name</label>
    <input type="text" class="form-control" name="first_name">
  </div>
  <div class="mb-3">
    <label>Last Name</label>
    <input type="text" class="form-control" name="last_name">
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="text" class="form-control" name="email">
  </div>
  <div class="mb-3">
    <label>Role</label>
    <input type="text" class="form-control" name="role_id">
  </div>

  <button class="btn btn-outlone-secondary">Save</button>
</form>
