<h3>Account information</h3>
<form>
  <div class="mb-3">
    <label>First name</label>
    <input class="form-control" name="first_name" type="text">
  </div>
  <div class="mb-3">
    <label>Last name</label>
    <input class="form-control" name="last_name" type="text">
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input class="form-control" name="email" type="email">
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>

<h3 class="mt-4">Change Password</h3>
<form>
  <div class="mb-3">
    <label>Password</label>
    <input class="form-control" name="password" type="password">
  </div>
  <div class="mb-3">
    <label>Password confirm</label>
    <input class="form-control" name="password_confirm" type="password">
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>
