<h3 class="mt-4">Account information</h3>
<form [formGroup]="infoForm" (submit)="infoSubmit()">
  <section class="form-section">
    <div class="mb-3">
      <label>First name</label>
      <input class="form-control" name="first_name" type="text" formControlName="first_name">
    </div>
    <div class="mb-3">
      <label>Last name</label>
      <input class="form-control" name="last_name" type="text" formControlName="last_name">
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" name="email" type="email" formControlName="email">
    </div>
  </section>

  <button class="btn btn-outline-secondary">Save</button>
</form>

<h3 class="mt-4">Change Password</h3>
<form [formGroup]="passwordForm" (submit)="passwordSubmit()">
  <section class="form-section">
    <div class="mb-3">
      <label>Password</label>
      <input class="form-control" name="password" type="password" formControlName="password">
    </div>
    <div class="mb-3">
      <label>Password confirm</label>
      <input class="form-control" name="password_confirm" type="password" formControlName="password_confirm">
    </div>
  </section>

  <button class="btn btn-outline-secondary">Save</button>
</form>
